.card{
    color: #7577ff;
    box-sizing: border-box;
    position: relative;
    background: rgb(129,8,163);
    background: linear-gradient(334deg, rgba(129,8,163,1) 0%, rgba(16,0,73,1) 55%, rgba(10,11,21,1) 85%, rgba(2,1,11,1) 100%, rgba(200,10,252,1) 100%);
    margin: 12px 12px 12px 12px;
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 0.5rem;
    box-shadow: 0px 12px 18px 0px rgb(30 18 112 / 75%);
    border: none;
    padding: 1.75rem;
    transition: transform 300ms;

}
.card:hover{
    transform: scale(1.1);
    box-shadow:-5px 20px 18px 0px rgb(30 18 112 / 75%) ;
}
.btn{
    
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #7A1110;
    display: flex;
    padding: 0.625rem 0.813rem;
    border-radius: 0 0.5rem 0 0.5rem;
    transition: background-color 1s;
}
.btn:hover{
    background-color: rgba(248, 0, 0, 0.653);
}
